body {
  background-color: #eae8da;
  color: #2f2f2f;
}

/* SpreadJSコンテナDOMサイズ設定 */
#ss {
  width: 689px;
  height: 550px;
  border: 1px solid rgb(172, 154, 154);
}

/* グループ領域の背景色設定 */
.gc-group {
  background-color: #f4f8eb;
  color: #bbbbbb;
  border-width: 0px;
  border-style: solid;
}

/* グループ領域の境界線設定 */
.gc-group-line {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(137, 137, 137);
}

/* グループ領域にあるドットの色設定 */

.gc-group-dot {
  color: rgb(247, 167, 17);
}

/* グループ領域にあるボタン画像の設定 */

/* .gc-group-box-expand{
  border-color:transparent;
  background-image: url('$DEMOROOT$/spread/source/images/minus.png');
  background-color: transparent;
}
.gc-group-box-collapsed{
  border-color:transparent;
  background-image: url('$DEMOROOT$/spread/source/images/add.png');
  background-color: transparent;
} */
